
<!-- <div id="container" class="mt-5 align-items-center justify-content-center flex">
    <highcharts-chart class="mt-5 align-items-center justify-content-center flex"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 60%; height: 500px; display: block;"
    ></highcharts-chart>
  </div> -->
  <div
   style="height: 600px; width: 60%;" class="mt-5 align-items-center justify-content-center flex">
   <div id="container"  class="mt-5 align-items-center justify-content-center flex">

   </div>
</div>
