<!-- <div id="container" class="mt-5 align-items-center justify-content-center flex">
    <highcharts-chart class="mt-5 align-items-center justify-content-center flex"
      [Highcharts]="Highcharts"
      style="width: 50%; height: 400px; display: block;"
    ></highcharts-chart>
  </div> -->


  <figure class="highcharts-figure mt-6">
    <div id="container"></div>
    <p class="highcharts-description">Here we are demonstrating the available instrument presets in the sonification module. Select the instrument to use in the dropdown above. Custom instruments can also be used, but are not demonstrated here. The demo shows off both distinct notes for the column chart, and a more continuous sonification for the line. Some instruments are better suited to one or the other.</p>
  </figure>
  

