<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="linechart">Highcharts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="linechart">line chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-lables">data-lables</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="splinesymbole">spline symbole</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="logarithmicaxis">logarithmic axis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="forecast">forecast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="annotations">annotations</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="timedata">time data</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="areachart">Area Chart</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="percentage">percentage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stakedarea">staked area</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="arearange">Bar chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="basic-column">Basic-Column</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bar-race">Bar-race</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="column-range">Column-range</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="column">Column</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="fixed-placement">Fixed-Placement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="comparison">Comparison</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-defined">Data-Defined</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="staked-bar">Staked-Bar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stacked-percentage-column">Stacked-percentage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="drilldown">Drilldown</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pie-chart">pie-chart</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>