<!-- <div class="mt-5 align-items-center justify-content-center flex">
    <highcharts-chart class="mt-5 align-items-center justify-content-center flex"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 60%; height: 500px; display: block;"
    ></highcharts-chart>
  </div>
  


  


 -->


 <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Wind barbs are used to visualize wind direction and speed
        on a chart. As seen in this example, they are often
        combined with other series types to provide additional
        information.
    </p>
</figure>
